<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
      <meta charset="utf-8">
      <title>accueil</title>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="css/app.css">
</head>

<header>
      <div id="contentH">
            <div class="logo">
                  <CENTER>
                        <img src="img/LOGO-CAP.jpg" width="200" height=75>
                  </CENTER>
            </div>
            <div class="titre" width="150" height=50>
                  <CENTER>
                        <label>
                              <h1>
                                    Supply Blockchain Ring R1.3
                              </h1>
                        </label>
                  </CENTER>
            </div>

            <div class="user" width="50" height=50>
                  <CENTER>
                        <label>
                              <h1>
                                    {{resul}}
                              </h1>
                        </label>
                  </CENTER>
            </div>

            <div class="nantes">
                  <CENTER>
                        <img src="img/NANTES-1.jpg" width="200" height=75>
                  </CENTER>
            </div>
      </div>
</header>

<!-- CSS FOR STYLING THE PAGE -->
<style>
      table {
            background-color: white;
            margin: 0 auto;
            font-size: large;
            border: 1px solid black;
      }
      td {
            background-color: yellow;
            border: 1px solid black;
      }
      th,
      td {
            background-color: yellow;
            font-weight: bold;
            border: 1px solid black;
            padding: 10px;
            text-align: center;
      }
      td {
            background-color: white;
            font-weight: lighter;
      }
</style>

<body>
      <br>

      <div id="content-network">

            <!-- TABLE CONSTRUCTION-->
            <!--
    ["Up","2 minutes","mychannel","10","basic","(Org1MSP:true;Org2MSP:true)"]
        -->
            <table id='table'>
                  <tr>
                        <th>Etat</th>
                        <th>Start</th>
                        <th>Channel</th>
                        <th>Block</th>
                        <th>Chaincode</th>
                        <th>Org</th>
                  </tr>
                  <tr>
                        {{#each list}}
                        <td>{{this}}</td>
                        {{/each}}
                  </tr>

            </table>
      </div>

      <br>

      <div id="content-nav">
            <div class="gestion-stock">
                  <nav class="menu-nav">
                        <ul>
                              <li class="btn">
                                    <label>
                                          <h1>
                                                <CENTER>
                                                      <FONT size="5pt"> STOCK</FONT>
                                                </CENTER>
                                          </h1>
                                    </label>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="createStock">createStock</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="readStock">readStock</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="deleteStock">deleteStock</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="getAllStocks">getAllStocks</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="getAssetStock">getAssetStock</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="getAssetEnLivraison">getAssetEnLivraison</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="augmentAssetStock">augmentAssetStock</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="updateStock">updateStock</a>
                                    </strong>
                              </li>
                             <li class="btn">
                                    <strong>
                                          <a href="updateMarchandiseStock">updateMarchandiseStock</a>
                                    </strong>
                              </li>

                        </ul>
                  </nav>
            </div>

            <div class="gestion-contrat">
                  <nav class="menu-nav">
                        <ul>
                              <li class="btn">
                                    <CENTER>
                                          <label>
                                                <h1>
                                                      <FONT size="5pt"> CONTRAT</FONT>
                                                </h1>
                                          </label>
                                    </CENTER>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="createContrat">createContrat</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="readContrat">readContrat</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="deleteContrat">deleteContrat</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="getAllContrats">getAllContrats</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="getContratStatus">getContratStatus</a>
                                    </strong>
                              </li>
                              <li class="btn"  style="text-align: left">
                                    <strong>
                                          <a href="updateMarchandiseContrat">&nbsp &nbsp updateMarchandiseContrat</a>
                                    </strong>
                              </li>
            <!-- 
                              <li class="btn">
                                    <strong>
                                          <a href="getContratQuantity">getContratQuantity</a>
                                    </strong>
                              </li>
            -->                  
                              <li class="btn">
                                    <strong>
                                          <a href="getAllContratsByStatus">getAllContratsByStatus</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="getAllContratsByDate">getAllContratsByDate</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="">.................</a>
                                    </strong>
                              </li>
                        </ul>
                  </nav>
            </div>

            <div class="gestion-user">
                  <nav class="menu-nav">
                        <ul>
                              <li class="btn">
                                    <CENTER>
                                          <label>
                                                <h1>
                                                      <FONT size="5pt"> USER</FONT>
                                                </h1>
                                          </label>
                                    </CENTER>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="createUser">createUser</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="readUser">readUser</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="deleteUser">deleteUser</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="getAllUsers">getAllUsers</a>
                                    </strong>
                              </li>
            <!-- 
                              <li class="btn">
                                    <strong>
                                          <a href="getUserEntreprise">getUserEntreprise</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="getUserType">getUserType</a>
                                    </strong>
                              </li>
            -->                  
                              <li class="btn">
                                    <strong>
                                          <a href="getAllUsersByEntreprise">
                                                <center>getAllUsersByEntreprise</center>
                                          </a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="getAllUsersByType">getAllUsersByType</a>
                                    </strong>
                              </li>

                              <li class="btn">
                                    <strong>
                                          <a href="updateTypeUser">updateTypeUser</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="updateEntrepriseUser">updateEntrepriseUser</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="updatePasswordUser">updatePasswordUser</a>
                                    </strong>
                              </li>

                        </ul>
                  </nav>
            </div>


            <div class="gestion-entreprise">
                  <nav class="menu-nav">
                        <ul>
                              <li class="btn">
                                    <CENTER>
                                          <label>
                                                <h1>
                                                      <FONT size="5pt"> ENTREPRISE</FONT>
                                                </h1>
                                          </label>
                                    </CENTER>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="createEntreprise">createEntreprise</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="readEntreprise">readEntreprise</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="deleteEntreprise">deleteEntreprise</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="getAllEntreprises">getAllEntreprises</a>
                                    </strong>
                              </li>

                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="">.................</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="">.................</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="">.................</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="">.................</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="">.................</a>
                                    </strong>
                              </li>
                        </ul>
                  </nav>
            </div>

            <div class="gestion-marchandise">
                  <nav class="menu-nav">
                        <ul>
                              <li class="btn">
                                    <CENTER>
                                          <label>
                                                <h1>
                                                      <FONT size="5pt"> MARCHANDISE</FONT>
                                                </h1>
                                          </label>
                                    </CENTER>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="createMarchandise">createMarchandise</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="readMarchandise">readMarchandise</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="deleteMarchandise">deleteMarchandise</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="getAllMarchandises">getAllMarchandises</a>
                                    </strong>
                              </li>

                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="">.................</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="">.................</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="">.................</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="">.................</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="">.................</a>
                                    </strong>
                              </li>
                        </ul>
                  </nav>
            </div>

            <div class="gestion-etape">
                  <nav class="menu-nav">
                        <ul>
                              <li class="btn">
                                    <CENTER>
                                          <label>
                                                <h1>
                                                      <FONT size="5pt"> ETAPE</FONT>
                                                </h1>
                                          </label>
                                    </CENTER>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="checkAvailability">checkAvailability</a>
                                    </strong>
                              </li>

                              <li class="btn">
                                    <strong>
                                          <a href="proposalSupplier">proposalSupplier</a>
                                    </strong>
                              </li>

                              <li class="btn">
                                    <strong>
                                          <a href="validClient">validClient</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="progressDelivery">progressDelivery</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="finalizeDelivery">finalizeDelivery</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="resetContrat">resetContrat</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="resetStock">resetStock</a>
                                    </strong>
                              </li>

                              <li class="btn">
                                    <strong>
                                          <a href="">.................</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="">.................</a>
                                    </strong>
                              </li>
                        </ul>
                  </nav>
            </div>

            <div class="gestion-reseau">
                  <nav class="menu-nav">
                        <ul>
                              <li class="btn">
                                    <CENTER>
                                          <label>
                                                <h1>
                                                      <FONT size="5pt"> RESEAU</FONT>
                                                </h1>
                                          </label>
                                    </CENTER>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="getHistoryStock">getHistoryStock</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="getHistoryContrat">getHistoryContrat</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="getHistoryUser">getHistoryUser</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="getHistoryEntreprise">getHistoryEntreprise</a>
                                    </strong>
                              </li>
                              <li class="btn">                             
                                    <strong>
                                          <a href="getHistoryMarchandise">getHistoryMarchandise</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="getEnv">getEnv</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="TestNetwork">TestNetwork</a>
                                    </strong>
                              </li>
                              <li class="btn">
                                    <strong>
                                          <a href="">.................</a>
                                    </strong>
                              </li>
                               <li class="btn">
                                    <strong>
                                          <a href="">.................</a>
                                    </strong>
                              </li>                             
                        </ul>
                  </nav>
            </div>

      </div>

</body>

</html>