<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>createStock</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/app.css">
  </head>
  
  <body>
<!--
    <div>
    <a class"google" href="http://google.fr/" target="_BLANK">Lien vers google</a>
    </div>
    <div>
      <img class"nantes" src="img/NANTES-1.jpg" width="200" height =200>
    </div>
-->
    </div></div>
    {{#if message}}
    <div style="text-align: center" class="alert alert-{{message.type}}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>{{message.intro}}</strong> {{message.message}}
    </div>
    {{/if}}

<div id="content">
    
    <div class="create-stock">
      <h1>createStock</h1>
      <form method="POST">
        <label>stockID:</label><br>
        <input type="text" name="stockID" class="form-control"><br>
        <label>userFournisseur:</label><br>
        <input type="text" name="userFournisseur" class="form-control"><br>
        <label>entrepriseFournisseur:</label><br>
        <input type="text" name="entrepriseFournisseur" class="form-control"><br>
        <label>id_marchandise:</label><br>
        <input type="text" name="id_marchandise" class="form-control"><br>
        <label>stock:</label><br>
        <input type="text" name="stock" class="form-control"><br>
<!--
        <label>enLivraison:</label><br>
        <input type="text" name="enLivraison" class="form-control"><br>
        <label>id_contrat:</label><br>
        <input type="text" name="id_contrat" class="form-control"><br> 
        <label>userClient:</label><br>
        <input type="text" name="userClient" class="form-control"><br>
        <label>entrepriseClient:</label><br>
        <input type="text" name="entrepriseClient" class="form-control"><br>
 -->   
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
<!--
    <script type="text/javascript">
          var somme = 1 + 2;
    </script>
-->
    <div class="resultat"    >
    <textarea id="resul" name="resul"  rows="30" cols="90"   >
              {{resul}}
    </textarea>
    </div>

</div>    
<!--
    <div>
    <label for="story">Tell us your story:</label>
    <textarea id="story" name="story"
          rows="5" cols="33">
          It was a dark and stormy night...
    </textarea>
    </div>
-->
  </body>
</html>