<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>createContratREP</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/app.css">
  <!-- INCLUDING JQUERY-->
  <script src="https://code.jquery.com/jquery-3.5.1.js">
  </script>

  <!-- CSS FOR STYLING THE PAGE -->
  <style>
    table {
      background-color: white;
      margin: 0 auto;
      font-size: large;
      border: 1px solid black;
    }

    h1 {
      text-align: center;
      color: #006600;
      font-size: xx-large;
      font-family: 'Gill Sans',
        'Gill Sans MT', ' Calibri',
        'Trebuchet MS', 'sans-serif';
    }

    td {
      background-color: yellow;
      border: 1px solid black;
    }

    th,
    td {
      background-color: yellow;
      font-weight: bold;
      border: 1px solid black;
      padding: 10px;
      text-align: center;
    }

    td {
      background-color: white;
      font-weight: lighter;
    }

    accueil {
      border: 1px solid black;
      padding: 5px;
      width: 300px;
      display: block;
      color: black;
      background-color: yellow;
      font-size: 12px;
    }

    titre {
      border: 5px solid black;
      padding: 1px;
      background-color: white;
      vertical-align: top;
      width: 76%;
      height: fit-content;
      color: rgba(29, 161, 242, .9);
    }
  </style>
</head>

<body>
  <section>
    <h1>CREATION CONTRAT</h1>

    <table id='table'>
      <tr>
        <th>ContratID</th>
        <th>Datecontrat</th>
        <th>Statut</th>
        <th>Quantite</th>
        <th>UserClient</th>
        <th>EntrepriseClient</th>
        <th>Id_marchandise</th>
        <th>Id_stock</th>
        <th>UserFournisseur</th>
        <th>EntrepriseFournisseur</th>        
      </tr>

      {{#each list}}
      <tr>
        <td>{{ContratID}}</td>
        <td>{{Datecontrat}}</td>
        <td>{{Statut}}</td>
        <td>{{Quantite}}</td>
        <td>{{UserClient}}</td>
        <td>{{EntrepriseClient}}</td>
        <td>{{Id_marchandise}}</td>
        <td>{{Id_stock}}</td>
        <td>{{UserFournisseur}}</td>
        <td>{{EntrepriseFournisseur}}</td>
      </tr>
      {{/each}}
    </table>

    <div class="titre" width="200" height=50>
      <CENTER>
        <label>
          <h1>
            <a class="accueil" href="/">ACCUEIL</a>
          </h1>
        </label>
      </CENTER>
    </div>

  </section>
</body>

</html>