<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>essai</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/app.css">
  <!-- INCLUDING JQUERY-->
  <script src="https://code.jquery.com/jquery-3.5.1.js">
  </script>

  <!-- CSS FOR STYLING THE PAGE -->
  <style>
    table {
      background-color: white;
      margin: 0 auto;
      font-size: large;
      border: 1px solid black;
    }
    h1 {
      text-align: center;
      color: #006600;
      font-size: xx-large;
      font-family: 'Gill Sans',
        'Gill Sans MT', ' Calibri',
        'Trebuchet MS', 'sans-serif';
    }
    td {
      background-color: yellow;
      border: 1px solid black;
    }
    th,
    td {
      background-color: yellow;
      font-weight: bold;
      border: 1px solid black;
      padding: 10px;
      text-align: center;
    }
    td {
      background-color: white;
      font-weight: lighter;
    }
  </style>
</head>

<body>
  <section>
    <h1>STOCKS</h1>
    <!-- TABLE CONSTRUCTION-->
    <!--
[{"StockID":"YAM-stock1","Datestock":"+054750-10-09T21:40:35.000Z","Stock":"100","EnLivraison":"0"},
{"StockID":"YAM-stock2","Datestock":"+054750-10-10T00:00:45.000Z","Stock":"100","EnLivraison":"0"}]
        -->
    <table id='table'>
      <tr>
        <th>StockID</th>
        <th>Datestock</th>
        <th>Stock</th>
        <th>EnLivraison</th>
      </tr>

      {{#each list}}
      <tr>
        <td>{{StockID}}</td>
        <td>{{Datestock}}</td>
        <td>{{Stock}}</td>
        <td>{{EnLivraison}}</td>
      </tr>
      {{/each}}

    </table>
  </section>
</body>

</html>