<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>getAssetEnLivraison</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/app.css">
</head>

<body>

  </div>
  </div>
  {{#if message}}
  <div style="text-align: center" class="alert alert-{{message.type}}">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{message.intro}}</strong> {{message.message}}
  </div>
  {{/if}}

  <div id="content">

    <div class="create-stock">
      <h1>getAssetEnLivraison</h1>
      <form method="POST">
        <label>stockID:</label><br>
        <input type="text" name="stockID" class="form-control"><br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <div class="resultat">
      <textarea id="resul" name="resul" rows="30" cols="90">
              {{resul}}
    </textarea>
    </div>

  </div>

</body>

</html>