<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>getHistoryStockREP</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/app.css">
  <!-- INCLUDING JQUERY-->
  <script src="https://code.jquery.com/jquery-3.5.1.js">
  </script>

  <!-- CSS FOR STYLING THE PAGE -->
  <style>
    table {
      background-color: white;
      margin: 0 auto;
      font-size: large;
      border: 1px solid black;
    }

    h1 {
      text-align: center;
      color: #006600;
      font-size: xx-large;
      font-family: 'Gill Sans',
        'Gill Sans MT', ' Calibri',
        'Trebuchet MS', 'sans-serif';
    }

    /*    td {
      background-color: yellow;
      border: 1px solid black;
    }
*/
    th,
    td {
      /*background-color: yellow;*/
      font-weight: bold;
      border: 1px solid black;
      padding: 10px;
      text-align: center;
      /*height: 50px;*/
      /*width: 10px;*/
      /*overflow-x: hidden;*/
    }

    td {
      background-color: white;
      font-weight: lighter;
      font-size: 14px;
      /*height: 38px;*/
      /*width: 10px;*/
      /*overflow-x: hidden;*/
    }

    accueil {
      border: 1px solid black;
      padding: 5px;
      width: 300px;
      display: block;
      color: black;
      background-color: yellow;
      font-size: 12px;
    }

    titre {
      border: 5px solid black;
      padding: 1px;
      background-color: white;
      vertical-align: top;
      width: 76%;
      height: fit-content;
      color: rgba(29, 161, 242, .9);
    }

    div#contentT  {
      text-align: center;
      font-size: 14px;
      width: 150px;
      overflow: scroll;
      font-weight: lighter;
      height: 35px;
    }

    div#contentTT  {
      text-align: center;
      width: 150px;
      overflow: scroll;
    }

  </style>
</head>

<body>
  <section>
    <h1>HISTORIQUE STOCK</h1>

    <table id='table'>
      <tr>
        <th style="background-color:rgb(255, 174, 0)">DateBlokChain </th>
        <!--<th><div width="20" height=10></div> Txid</th> -->
        <th style="background-color:rgb(255, 174, 0)">
          <div id="contentTT">Txid</div>
        </th>
        <th style="background-color:rgb(255, 174, 0)">Existe </th>
        <th style="background-color:yellow">Datestock </th>
        <th style="background-color:yellow">StockID </th>
        <th style="background-color:yellow">Stock </th>
        <th style="background-color:yellow">EnLivraison </th>
        <th style="background-color:yellow">U_Fournisseur </th>
        <th style="background-color:yellow">E_Fournisseur </th>
        <th style="background-color:yellow">Marchandise </th>
        <th style="background-color:yellow">Id_contrat </th>
        <th style="background-color:yellow">U_Client </th>
        <th style="background-color:yellow">E_Client </th>
      </tr>

      {{#each list}}
      <tr>
        <td>{{DateBlokChain}}</td>
        <th>
          <div id="contentT">{{Txid}} </div>
        </th>
        <td>{{Existe}}</td>
        <td>{{Datestock}}</td>
        <td>{{StockID}}</td>
        <td>{{Stock}}</td>
        <td>{{EnLivraison}}</td>
        <td>{{UserFournisseur}}</td>
        <td>{{EntrepriseFournisseur}}</td>
        <td>{{Id_marchandise}}</td>
        <td>{{Id_contrat}}</td>
        <td>{{UserClient}}</td>
        <td>{{EntrepriseClient}}</td>
      </tr>
      {{/each}}
    </table>

    <div class="titre" width="200" height=50>
      <CENTER>
        <label>
          <h1>
            <a class="accueil" href="/">ACCUEIL</a>
          </h1>
        </label>
      </CENTER>
    </div>

  </section>
</body>

</html>