<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>resetStockREP</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/app.css">
  <!-- INCLUDING JQUERY-->
  <script src="https://code.jquery.com/jquery-3.5.1.js">
  </script>

  <!-- CSS FOR STYLING THE PAGE -->
  <style>
    table {
      background-color: white;
      margin: 0 auto;
      font-size: large;
      border: 1px solid black;
    }

    h1 {
      text-align: center;
      color: #006600;
      font-size: xx-large;
      font-family: 'Gill Sans',
        'Gill Sans MT', ' Calibri',
        'Trebuchet MS', 'sans-serif';
    }

    td {
      background-color: yellow;
      border: 1px solid black;
    }

    th,
    td {
      background-color: yellow;
      font-weight: bold;
      border: 1px solid black;
      padding: 10px;
      text-align: center;
    }

    td {
      background-color: white;
      font-weight: lighter;
    }

    accueil {
      border: 1px solid black;
      padding: 5px;
      width: 300px;
      display: block;
      color: black;
      background-color: yellow;
      font-size: 16px;
    }

  </style>
</head>

<body>
  <section>
    <h1>RESET STOCK</h1>
    <!-- TABLE CONSTRUCTION-->

    <table id='table'>
      <tr>
        <th>StockID</th>
        <th>Datestock</th>
        <th>UserFournisseur</th>
        <th>EntrepriseFournisseur</th> 
        <th>Id_marchandise</th>
        <th>Stock</th>
        <th>EnLivraison</th>
        <th>Id_contrat</th>
        <th>UserClient</th>
        <th>EntrepriseClient</th>
      </tr>

      {{#each list}}
      <tr>
        <td>{{StockID}}</td>
        <td>{{Datestock}}</td>
        <td>{{UserFournisseur}}</td>
        <td>{{EntrepriseFournisseur}}</td>
        <td>{{Id_marchandise}}</td>
        <td>{{Stock}}</td>
        <td>{{EnLivraison}}</td>
        <td>{{Id_contrat}}</td>
        <td>{{UserClient}}</td>
        <td>{{EntrepriseClient}}</td>
      </tr>
      {{/each}}

    </table>

    <div class="titre" width="200" height=50>
      <CENTER>
        <label>
          <h1>
            <a class="accueil" href="/">ACCUEIL</a>
          </h1>
        </label>
      </CENTER>
    </div>

  </section>
</body>

</html>