<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>TestNetworkREP</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/app.css">
  <!-- INCLUDING JQUERY-->
  <script src="https://code.jquery.com/jquery-3.5.1.js">
  </script>

  <!-- CSS FOR STYLING THE PAGE -->
  <style>
    table {
      background-color: white;
      margin: 0 auto;
      font-size: large;
      border: 1px solid black;
    }

    h1 {
      text-align: center;
      color: #006600;
      font-size: xx-large;
      font-family: 'Gill Sans',
        'Gill Sans MT', ' Calibri',
        'Trebuchet MS', 'sans-serif';
    }

    td {
      background-color: yellow;
      border: 1px solid black;
    }

    th,
    td {
      background-color: yellow;
      font-weight: bold;
      border: 1px solid black;
      padding: 10px;
      text-align: center;
    }

    td {
      background-color: white;
      font-weight: lighter;
    }

    accueil {
      border: 1px solid black;
      padding: 5px;
      width: 300px;
      display: block;
      color: black;
      background-color: yellow;
      font-size: 16px;
    }
  </style>
</head>

<body>
  <section>
    <h1>NETWORK</h1>

    <!-- TABLE CONSTRUCTION-->
    <!--
    ["Up","2 minutes","mychannel","10","basic","(Org1MSP:true;Org2MSP:true)"]
        -->
    <table id='table'>
      <tr>
        <th>Etat</th>
        <th>Start</th>
        <th>Channel</th>
        <th>Block</th>
        <th>Chaincode</th>
        <th>Org</th>
      </tr>

      <tr>
        {{#each list}}
        <td>{{this}}</td>
        {{/each}}
      </tr>

    </table>

    <div class="titre" width="200" height=50>
      <CENTER>
        <label>
          <h1>
            <a class="accueil" href="/">ACCUEIL</a>
          </h1>
        </label>
      </CENTER>
    </div>

  </section>
</body>

</html>