body{
    margin:0;
    background-color: rgba(29, 161, 242, .9) !important;
  }

  .create-stock{
    position: static;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    margin: auto;
    width: 500px;
    height: 800px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
  }
  .google{
    color: #E21C44;
    background-color: yellowgreen;
  }

  div#content div{
    display: inline-block;
    width: 45%;
  }

  div#content div.create-stock{
    background-color: yellow;
    vertical-align: top ;
  }

  div#content div.resultat{
    font-size: 16px;
    position: static;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    margin: auto;
    width: 960px;
    height: 740px;
    padding: 20px;
    border-radius: 15px;
    background-color: green;
    vertical-align: top ;
  }

  div#contentH div{
    display: inline-block;
  } 

  div#contentH div.logo{
    border: 5px solid black; padding: 1px;
    background-color: white;
    vertical-align: top ;
    width: 12%;
    height:fit-content ;
  } 

  div#contentH div.titre{
    border: 5px solid black; padding: 1px;
    background-color: white;
    vertical-align: top ;
    width: 60%;
    height:fit-content ;
    color: rgba(29, 161, 242, .9) ;
  } 
  
  div#contentH div.user{
    border: 5px solid black; padding: 1px;
    background-color: white;
    vertical-align: top ;
    width: 14%;
    height:fit-content ;
    color: rgba(29, 161, 242, .9) ;
  } 

  div#contentH div.nantes{
    border: 5px solid black; padding: 0px;
    background-color: white;
    vertical-align: top ;
    width: 11%;
    height:fit-content ;
  }

  div#content-nav {
    border: 5px solid black; padding: 0px; 
    background-color: white;
    width: 99%;
  } 

  div#content-nav div{
    display: inline-block;
  } 

  div#content-nav div.gestion-stock{
    /*border: 5px solid black; padding: 1px;*/
    /*background-color: rgba(29, 161, 242, .9) !important;*/
    vertical-align: top ;
    width: 13%;
    height:fit-content ;
  } 

  div#content-nav div.gestion-contrat{
    vertical-align: top ;
    width: 13%;
    height:fit-content ;
  } 
 
  div#content-nav div.gestion-user{
    vertical-align: top ;
    width: 13%;
    height:fit-content ;
  } 
 
  div#content-nav div.gestion-entreprise{
    vertical-align: top ;
    width: 13%;
    height:fit-content ;
  } 

  div#content-nav div.gestion-marchandise{
    vertical-align: top ;
    width: 13%;
    height:fit-content ;
  } 

  div#content-nav div.gestion-etape{
    vertical-align: top ;
    width: 13%;
    height:fit-content ;
  } 
 
  div#content-nav div.gestion-reseau{
    vertical-align: top ;
    width: 13%;
    height:fit-content ;
  } 
  
  nav.menu-nav ul li.btn{
    border: 1px solid black; padding: 5px;
    width: 300px;
    display: block;
    color: black;
    background-color: yellow;
    font-size: 16px;
  }
  nav.menu-nav ul li.btn:hover a{
    border: 0px solid black; padding: 0px;
    width: 300px;
    display: block;
    color: yellow;
    background-color: black;
    font-size: 16px;
  }